webfont('CMU Classical Serif Italic', 'cmunci', normal, italic)
webfont('CMU Bright', 'cmunbmr', normal, normal)
webfont('CMU Bright', 'cmunbbx', bold, normal)
webfont('CMU Bright', 'cmunbmo', normal, italic)
webfont('CMU Bright', 'cmunbxo', bold, italic)
webfont('Open Sans', 'OpenSans-Regular', normal)
webfont('Open Sans', 'OpenSans-Bold', bold)

font_main()
	font-family 'CMU Bright', sans-serif
	color black
	font-weight 300
	font-size 14px
	+media(mobile)
		font-size 14px