<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<meta name="description" content="{{description}}">
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,minimal-ui">
	<base href="./">
	{{#compiler.isProduction}}
	<link rel="stylesheet" href="bundle-{{compiler.hash}}.css">
	{{/compiler.isProduction}}
</head>
<body>
	<main id="page" class="page page-{{pageClass}}">
		<header>
			<h1>arnaud juracek</h1>
			<h2>design&nbsp;+&nbsp;code</h2>
			<footer>
				<ul>
					<li><a href="http://hello.arnaudjuracek.fr" target="_blank">hello</a></li>
					<li><a href="https://github.com/arnaudjuracek" target="_blank">GitHub</a></li>
					<li></li>
					<li>PARIS, FRANCE</li>
					<li><a href="tel:+33629697661">+33 6 29 69 76 61</a></li>
					<li><a href="mailto:arnaud.juracek+portfolio@gmail.com" target="_blank">email</a> &#8212; <a href="https://twitter.com/arnaudjuracek" target="_blank">twitter</a></li>
					<li><a href="arnaudjuracek_curriculum.pdf" target="_blank">Curriculum Vit&aelig;</a></li>
				</ul>
			</footer>
		</header>
		<nav>
			<ul>
				<!-- <time>2016</time> -->
				<li><a href="#"><time>2016-05-21</time>supershapes</a></li>
				<li><a href="#"><time>2016-05-21</time>boîte noire</a></li>
				<li><a href="#"><time>2016-05-21</time>spirale</a></li>
				<li><a href="#"><time>2016-03-19</time>japanese-waves</a></li>
				<li><a href="#"><time>2016-03-19</time>hulahoop</a></li>
				<li><a href="#"><time>2016-03-19</time>normal</a></li>
				<li><a href="#"><time>2016-03-19</time>lightroom</a></li>
				<li><a href="#"><time>2016-03-19</time>maze</a></li>
				<li><a href="#"><time>2016-01-11</time>cellnoise</a></li>
				<li><a href="#"><time>2016-03-11</time>hypercontemporaryinstitute</a></li>
				<li><a href="#"><time>2016-03-11</time>moogfest</a></li>
				<li><a href="#"><time>2016-03-11</time>lines-by-brightness</a></li>
				<li><a href="#"><time>2016-03-11</time>wandering-lines</a></li>
				<li><a href="#"><time>2016-03-11</time>sinsquares</a></li>
				<li><a href="#"><time>2016-03-11</time>cuboids</a></li>
				<li><a href="#"><time>2016-03-11</time>delaunay</a></li>
				<li><a href="#"><time>2016-03-11</time>sort-by-nearest</a></li>
				<li><a href="#"><time>2016-03-11</time>superformula</a></li>
				<!-- <time>2015</time> -->
				<li><a href="#"><time>2015-03-11</time>delaunay</a></li>
				<li><a href="#"><time>2015-03-11</time>sort-by-nearest</a></li>
				<li><a href="#"><time>2015-03-11</time>superformula</a></li>

			</ul>
		</nav>

		<section class="about">
			<p>My name is Arnaud Juracek and I'm a french design student.</p>
			<p>I'm interested in algorithms and lorem ipsum and code and other things mdr kiss kiss hire me.</p>
		</section>
		<!-- {{> partial_example.mustache}} -->


	</main>

	<div id='cursors'></div>
	<script src="bundle-{{compiler.hash}}.js"></script>
</body>
</html>
