<!-- https://github.com/arnaudjuracek/www-arnaudjuracek -->
<!DOCTYPE html>
<html>
<head>
	{{> header.mustache}}
</head>
<body class="no-js">
	<main id="page" class="page {{meta.pageID}}">
		<nav role="main">
		  <input type="checkbox" class="hamburger" id="hamburger" style="display:none"/>
		  <label for="hamburger"></label>
			<header><a href="/" class="views" data-page="/views/index.html">arnaud juracek</a></header>
			<ul>
				{{#links}}
					<li>
						<a href="{{href}}" class="views" data-page="{{id}}" data-date="{{date.year}}">
							{{title}}
						</a>
					</li>
				{{/links}}
			</ul>
		</nav>

		<section class="view" id="view">
			{{#view.template}}
				{{> project.mustache}}
			{{/view.template}}

			{{^view.template}}
				{{{view.content}}}
			{{/view.template}}
		</section>

	</main>
	<div id='cursors'></div>
	<script>
		document.body.classList.add("preload");
		document.body.classList.remove("no-js");
	</script>
	<script src="bundle-{{compiler.hash}}.js"></script>
</body>
</html>
