<header>
	<h1>{{view.title}}</h1>
	<aside>
		{{#view.date}}
			<time>{{view.date}}</time>
		{{/view.date}}
		{{#view.context}}
			{{#view.date}}
				&nbsp;&mdash;&nbsp;
			{{/view.date}}
			{{view.context}}
		{{/view.context}}
	</aside>
</header>

{{#view.content}}
	<div class="description">{{{view.content}}}</div>
{{/view.content}}

{{#view.images}}
	<div class="gallery">
		{{#view.images}}
			<!-- <img class="blazy"
				src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
				data-src="{{value}}"
			/>
			<noscript><img src="{{value}}"></noscript> -->
			<img src="{{value}}">
		{{/view.images}}
	</div>
{{/view.images}}

<footer>{{view.license}}</footer>