{{#view.title}}
	<header>
		<h1>{{view.title}}</h1>
		<aside>
			{{#view.date}}<time>{{view.date.year}}</time>{{/view.date}}{{#view.context}}{{#view.date}},&nbsp;{{/view.date}}{{{view.context}}}{{/view.context}}
		</aside>
	</header>
{{/view.title}}


{{#view.content}}
	<div class="description">{{{view.content}}}</div>
{{/view.content}}


{{#view.vimeo}}
	<div class="gallery">
		<div class="iframe-ratio">
			<iframe src="https://player.vimeo.com/video/{{view.vimeo}}?color=FFFFFF&byline=0&portrait=0&title=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>
{{/view.vimeo}}

{{#view.videos}}
	<div class="gallery">
		{{#items}}
		<div class="iframe-ratio {{{item.ratio}}}">
			<video class="blazy" controls preload="auto" poster="{{item.poster}}">
        		<source data-src="{{item.url}}" type="video/mp4">
        		Your browser doesn't support HTML5 video tag.
    		</video>
		</div>
		{{/items}}
	</div>
{{/view.videos}}


{{#view.images}}
	<div class="gallery {{#view.images-columns}}gallery-columns-{{view.images-columns}}{{/view.images-columns}}" data-columns="2">
		{{#items}}
			<img class="blazy"
				src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
				data-src="{{item}}"
			/>
			<noscript><img src="{{item}}"></noscript>
		{{/items}}
	</div>
{{/view.images}}

<footer>
	{{#view.credits}}
		<ul class="credits">
			{{#view.credits.categories}}
				<ul data-meta="{{category.name}}">
					{{#category.items}}
						<li>{{{item}}}</li>
					{{/category.items}}
				</ul>
			{{/view.credits.categories}}
		</ul>
	{{/view.credits}}

	{{#view.license}}
		<div data-meta="license">
			<p>{{{view.license}}}</p>
		</div>
	{{/view.license}}
</footer>
