{{#view.title}}
	<header>
		<h1>{{view.title}}</h1>
		<aside>
			{{#view.date}}<time>{{view.date.year}}</time>{{/view.date}}{{#view.context}}{{#view.date}},&nbsp;{{/view.date}}{{{view.context}}}{{/view.context}}
		</aside>
	</header>
{{/view.title}}


{{#view.content}}
	<div class="description">{{{view.content}}}</div>
{{/view.content}}


{{#view.vimeo}}
	<div class="gallery">
		<div class="iframe-ratio">
			<iframe src="https://player.vimeo.com/video/{{view.vimeo}}?color=FFFFFF&byline=0&portrait=0&title=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>
{{/view.vimeo}}

{{#view.videos}}
	<div class="gallery">
		{{#items}}
		<div class="iframe-ratio {{{item.ratio}}} video">
			{{#compiler.isProduction}}
			<video class="" controls preload="auto" poster="assets/projects/{{meta.pageID}}/large/{{item.poster}}">
			{{/compiler.isProduction}}
			{{^compiler.isProduction}}
			<video class="" controls preload="auto" poster="assets/projects/{{meta.pageID}}/{{item.poster}}">
			{{/compiler.isProduction}}
				<source src="assets/projects/{{meta.pageID}}/{{item.url}}" type="video/mp4">
				Your browser doesn't support HTML5 video tag.
			</video>
			<div class="video-controllers" style="display:none">
				<svg
					version="1.1"
					xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink"
					xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
					width="100%"
					height="100%"
					viewBox="0 0 800 450"
					xml:space="preserve">
					<polygon
						class='triangle'
						id="XMLID_18_"
						fill="none"
						stroke-width="5"
						stroke-linecap="round"
						stroke-linejoin="round"
						points="373.5,181.7 448.5,225 373.5,268.3 "/>
				</svg>
				<div class="progress-bar" id="progressBar">
					<div id="loaded"></div>
					<div id="progress"></div>
				</div>
			</div>
		</div>
		{{/items}}
	</div>
{{/view.videos}}


{{#view.images}}
	<div class="gallery {{#view.images-columns}}gallery-columns-{{view.images-columns}}{{/view.images-columns}}" data-columns="2">
		{{#items}}
			{{#compiler.isProduction}}
				<img class="blazy"
					src="assets/projects/{{meta.pageID}}/low/{{item}}"
					sizes="100vw"
					data-srcset="assets/projects/{{meta.pageID}}/large/{{item}} 1024w, assets/projects/{{meta.pageID}}/medium/{{item}} 640w, assets/projects/{{meta.pageID}}/small/{{item}} 320w"
					data-src="assets/projects/{{meta.pageID}}/large/{{item}}"
				/>
				<noscript><img src="{{item}}"></noscript>
			{{/compiler.isProduction}}
			{{^compiler.isProduction}}
				<img class="blazy"
					src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
					data-src="assets/projects/{{meta.pageID}}/{{item}}"
				/>
				<noscript><img src="{{item}}"></noscript>
			{{/compiler.isProduction}}
		{{/items}}
	</div>
{{/view.images}}

<footer>
	{{#view.credits}}
		<ul class="credits">
			{{#view.credits.categories}}
				<ul data-meta="{{category.name}}">
					{{#category.items}}
						<li>{{{item}}}</li>
					{{/category.items}}
				</ul>
			{{/view.credits.categories}}
		</ul>
	{{/view.credits}}

	{{#view.license}}
		<div data-meta="license">
			<p>{{{view.license}}}</p>
		</div>
	{{/view.license}}
</footer>
