html, body
	height 100%
	margin 0

body
	background white
	padding 0
	cursor default
	height 100%
	min-height 100%

a
	color blue
	text-decoration none
	height 1.2em
	border-bottom .125em solid transparent
	easing(500)
a:hover, a.hover
	easing(0)
	color blue
	border-bottom-color blue
a[href*="//"]:not([href*="mysite.com"]):after
	content "->()"


// -------------------------------------------------------------------------

.page
	font_main()
	font_antialiased()
	nav
		position fixed
		// little hack to avoid :hover on nav/ul background
		width 0
		overflow visible
		white-space nowrap

		z-index 2
		top 50px
		left 25px
		line-height 1.4em
		// column-count 2
		header
			margin-bottom 1.4em
			&:before
				content "0000-00-00"
				visibility hidden
				margin-right 1em
		a
			easing(500)
			&:hover, &.hover
				easing(0)
				background rgba(255,255,255,.9)
			& time
				margin-right 1em
				color rgba(0,0,0,.4)
	iframe
		outline none
		position fixed
		top 0
		left 0
		right 0
		bottom 0
section
	z-index 1
	font-family 'Open Sans'
	font-weight bold
	font-size 8vw
	padding 50px
	padding-top 100vh
	margin-top -1.7em
	header
		margin-bottom 1em
		h1
			font-size 8vw
			font-weight bold
		aside
			font-size 6vw
	p
		margin-bottom .4em

	.description, footer
		margin 0 auto
		max-width 33vw
		max-width 600px
		line-height 1.2em
		font-size 20px
	footer
		text-align right
		margin-top 1em

	.gallery
		margin-top 1em
		// column-count 5
		column-gap 25px
		line-height 0
		img
			margin-bottom 25px
			width 100%
			height auto
			&:last-child
				margin-bottom 0

#cursors
	position fixed
	z-index 99999
	top 0
	left 0
	right 0
	bottom 0
	pointer-events none